<%= form_with(model: StudyTime.new, local: true, url: {controller: 'study_times', action: 'create' }) do |form| %>

  <div class="field">
    <%= form.number_field :time_length, step: '0.1', placeholder: "学習時間(h)" %>
  </div>

  <div class="field">
    <%= form.date_field :date, value: Time.now.strftime("%Y-%m-%d"), placeholder: "学習日" %>
  </div>

  <div class="field">
    <%= form.text_area :comment, placeholder: "コメント" %>
  </div>

  <div class="actions">
    <%= form.submit "送信" %>
  </div>
<% end %>
