<div id="study-time-index-wrapper">
  <h1>合計学習日数: <%= @sum_date %></h1>
  <h1>合計学習時間: <%= @sum_time %>h</h1>

  <div id="each-day-time">
      <% @study_times.each do |key, values| %>
        <div class="cf">
          <p><%= key[0] %></p>
          <p><%= values.sum { |hash| hash[:time_length]} %>h</p>
          <p><%= link_to 'Show more', study_time_path(key) %></p>
        </div>
      <% end %>
  </div>

  <%= render 'study_times/form' %>
</div>

