<div id="study-time-show-wrapper">
  <h1><%= @date %></h1>
  <p>合計学習時間: <%= @study_times.sum { |hash| hash[:time_length]} %>h</p>

  <table>
    <thead>
      <tr>
        <th class="table-time">学習時間</th>
        <th class="table-comment">コメント</th>
        <th class="table-del" colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @study_times.each do |v| %>
        <tr>
          <td class="table-time"><%= v.time_length %></td>
          <td class="table-comment"><%= v.comment %></td>
          <td class="table-del"><%= link_to '削除', study_time_path(v.id), method: :delete, data: { confirm: "削除してもいいですか" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'study_times/form' %>
</div>


